.top-container{
  background-color: #e6f0b6;
}
body{
  margin:0;

}




.middle-container{
height: 200px;
  width: 200px;
  background-color:#23eae6;

}

.bottm-container{
  height: 200px;
    width: 200px;
    background-color:#1b7fbd;

}
